:root {
    --text-color: #0a1924;
    --background-color: #d7e8f4;
    --primary-color: #d0844e;
    --secondary-color: #d3ebb2;
    --tertiary-color: #a55e2c;

    
    --quaternary-color: #0f0;
    --quinary-color: #00f;
    --senary-color: #ff0;
    --septenary-color: #f0f;
    --octonary-color: #0ff;
}

.dark-mode {
    --text-color: #d7e8f4ef;
    --background-color: #0a1924;
    --primary-color: #b1652f;
    --secondary-color: #354d14;
    --tertiary-color: #d38c5a;
}

header {
    flex: 0 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--text-color);
    background-color: var(--background-color);
}

nav menu {
    flex: auto;
    justify-content: flex-start;
    font-size: large;
  }

  nav menu a.active{
    color: var(--primary-color);
    text-decoration: underline;
    font-weight: bold;
  }
  
  nav a{
    color: var(--text-color);
    text-decoration: none;
    margin-right: 15px;
  }

  nav a:hover {
    text-decoration: underline;
    color: var(--primary-color);
  }

  
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--text-color);
    background-color: var(--background-color);
}

main {
    flex: 1 calc(100vh - 110px);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--text-color);
    background-color: var(--background-color);
}

footer {
    flex: 0 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--text-color);
    background-color: var(--background-color);
}