#email {
  width: 100%;
  margin-right: 10px;
}

#password {
  width: 100%;
  margin-top: 10px;
}

.login-buttons {
    margin-top: 10px;
    display: block;
    justify-content: center;
    justify-items: center;
}

.login-inputs {
  justify-content: center;
}

#sign-in {
    margin-right: 10px;
}

#register {
    margin-left: 10px;
}